{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Billing</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1 style="text-align:center;">Billing 🧾</h1>

    <div class="login-box">
        <form method="POST">
            {% csrf_token %}

            <select name="product">
                {% for p in products %}
                <option value="{{ p.id }}">{{ p.name }}</option>
                {% endfor %}
            </select><br>

            <input type="number" name="quantity" placeholder="Quantity"><br>

            <button type="submit">Generate Bill</button>
        </form>
    </div>

</body>

</html>