{% extends 'base.html' %}

{% block content %}

<h2>Billing</h2>

<form method="POST">
    {% csrf_token %}

    <label>Product</label><br>
    <select name="product">
        {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }}</option>
        {% endfor %}
    </select><br>

    <label>Quantity</label><br>
    <input type="number" name="quantity"><br><br>

    <button type="submit">Generate Bill</button>
</form>

{% if total %}
<hr>
<h3>Bill</h3>
<p>Product: {{ product.name }}</p>
<p>Quantity: {{ quantity }}</p>
<p>Total: ₹{{ total }}</p>
{% endif %}

{% endblock %}