{% extends 'base.html' %}

{% block content %}

<h2>Dashboard 📊</h2>

<div>
    <div class="card">
        <h3>Total Sales</h3>
        <p>₹{{ total_sales }}</p>
    </div>

    <div class="card">
        <h3>Total Orders</h3>
        <p>{{ total_orders }}</p>
    </div>
</div>

<h3>Sales Analytics</h3>

<select onchange="loadChart(this.value)">
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly">Monthly</option>
</select>

<canvas id="salesChart" height="100"></canvas>

<script>
    const daily_labels = JSON.parse('{{ daily_labels|escapejs }}');
    const daily_data = JSON.parse('{{ daily_data|escapejs }}');

    const weekly_labels = JSON.parse('{{ weekly_labels|escapejs }}');
    const weekly_data = JSON.parse('{{ weekly_data|escapejs }}');

    const monthly_labels = JSON.parse('{{ monthly_labels|escapejs }}');
    const monthly_data = JSON.parse('{{ monthly_data|escapejs }}');

    let chart;

    function loadChart(type) {
        let labels, data;

        if (type === "daily") {
            labels = daily_labels;
            data = daily_data;
        } else if (type === "weekly") {
            labels = weekly_labels;
            data = weekly_data;
        } else {
            labels = monthly_labels;
            data = monthly_data;
        }

        const ctx = document.getElementById('salesChart').getContext('2d');

        if (chart) chart.destroy();

        chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: type + " sales",
                    data: data,
                    borderColor: '#4bc0c0',
                    borderWidth: 2
                }]
            }
        });
    }

    loadChart("daily");
</script>

{% endblock %}